body{
  max-width: 1200px;
    
}
.dropDownMenu{
    background: rgba(0, 0, 0, 0.884);
    padding: 20px;

}
h1{
    font-family: 'Freckle Face', cursive;
    letter-spacing: 2px;
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    color: #fff;
}

.dropDownMenu ul{
    list-style-type: none;
    padding: 0;
}
.dropDownMenu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.dropDownMenu label{
    cursor: pointer;
    background: url(/images/menu-icon.png) no-repeat left center;
    padding: 30px 0 30px 80px;
}
input#menuCheckbox{
    display: none;
}
.menu{
    max-height: 0;
    overflow: hidden;
}


/*toggle*/

input:checked ~ .menu{
    max-height: 100%;
}
