body{
  max-width: 1200px;
    margin: 0;
}

.nav-grid{
    margin: 0 20px;
}
.nav-grid ul{
    display: none;
}
.nav-grid h1{
    font-family: 'Freckle Face', cursive;
    letter-spacing: 2px;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid grey;
   
}


.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}